<ol class="breadcrumb">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Utilities', utilities_path %></li>
  <li class="active">New Utility</li>
</ol>

<h2>New Utility</h2>

<%= render 'form', utility: @utility %>