<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <p>Hi there, we thought you should know that your friend, <%= @sharer.email %>, has <strong>un-shared</strong> <%= @utility.name %> with you.</p>
</body>
</html>